@page "/config"
@using Layour.Shared
@inject HttpClient Http
@using System.IO
@inject IJSRuntime JS

@foreach (Data item in Gesamtdaten)
{
    @item.Name<br>
    @item.Route<br>
    @item.RESTTyp<br>
    @item.ConfigTyp<br><br>
}


<EditForm Model="@input">
    <InputTextArea id="name" @bind-Value="input.Name" style="width: 800px; height: 500px; font-size:24px;" /> 
    <br>
    <button>Open</button>
</EditForm>

@code
{
    private InputCheck input = new();
    public IList<Data> daten;
    public IList<Data> Gesamtdaten = new List<Data>();

}