@inject IDataService DataService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Logging
@inject ILogger<InputCheck> Logger
@inherits NavMenu



<EditForm Model="@data" OnSubmit="HandleSubmit">
    <div class="form-group">
        <label>Name</label>
    <InputText id="Name" @bind-Value="data.Name" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label>Route</label>
    <InputText id="Route" @bind-Value="data.Route" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label>RESTTyp</label>
    <InputText id="RESTTyp" @bind-Value="data.RESTTyp" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label>ConfigTyp</label>
    <InputText id="ConfigTyp" @bind-Value="data.ConfigTyp" class="form-control"></InputText>
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Try</button>
    <button type="HandleSubmit" class="btn btn-primary">Save</button>
    <button type="Abort" class="btn btn-primary">Abort</button>
    <br><br>
    
    
</EditForm>

@if (alertStatusMsg)
{
    <div class="alert alert-success">@StatusMsg</div>
}
else
{
    <div class="alert alert-danger">@StatusMsg</div>
}
    


@code {
     
     public Layour.Shared.Data data {get; set;} = new Layour.Shared.Data();

     private string StatusMsg="Füllen Sie bitte alle Felder aus";
     private bool alertStatusMsg = false;
     private InputCheck Input = new();

     protected override void OnInitialized()
     {

     }

     private async Task StatusMessage()
     {
         alertStatusMsg = true;
         await InvokeAsync(() => StateHasChanged());
         await Task.Delay(3000);
        
         alertStatusMsg = false;
        
        
     }

   
     async Task HandleSubmit() 
     {

        

        if( data.Name == null || data.Route == null || data.RESTTyp == null || data.ConfigTyp == null)
         {
            await StatusMessage();
            StatusMsg = "Bitte füllen Sie alle Felder aus";
         }
         else if (data.Name == "" || data.Route == "" || data.RESTTyp == "" || data.ConfigTyp == "")
         {
            await StatusMessage();
            StatusMsg = "Bitte füllen Sie alle Felder aus";
         }
         else
         {
            Console.WriteLine("Submit call");
            await JSRuntime.InvokeVoidAsync("console.log", data);
            await DataService.CreateData(data);
            await DataService.GetData();
            StatusMsg = "Daten erfolgreich gespeichert";
            alertStatusMsg = true; 
            await InvokeAsync(() => StateHasChanged());
            await Task.Delay(3000);
            alertStatusMsg = false;
         }



         }
    

     }

     
