<EditForm Model="data" OnSubmit="HandleSubmit">
    <textarea></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>


@code
{
     public Layour.Shared.Data data {get; set;} = new Layour.Shared.Data();

     async void HandleSubmit() 
     {
         
     }
}