﻿@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://localhost:7175/details">+ Neuer Eintrag</a>
            <a href="https://localhost:7175/details">Details</a>
            <a href="https://localhost:7175/config">Config</a>
        </div>
    
        
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
