﻿ @page "/razor"
 @using Layour.Shared
 @inject HttpClient Http
 @inject NavigationManager NavigationManager
 @inject IDataService DataService
 @implements IDisposable


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CAI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            
            @foreach (Data item in DataService.Daten)
            {
                
               <a> @item.Name <NavLink class="nav-link" href="@item.Name" Match="NavLinkMatch.All">
                    
                </NavLink> </a>
                
            }
            
        </li>
    </ul>>

          
    

</div>

@code {

    public IList<Data> daten;
    public int NavCount = 0;
  //  public IList<Data> Gesamtdaten = new List<Data>();
    

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await Http.GetFromJsonAsync<Data[]>
                    ("api/details");

        DataService.OnChange += StateHasChanged;

    }

    public void Dispose()
    {
        DataService.OnChange -= StateHasChanged;
    }
}
